<ul class="task-steps">
  <li ng-click="toggleCompleted('step1')" ng-class='{completed: status.step1}'>
    <h5 class="step-title"> Resume for On Campus job  <span class="pull-right" ng-if="status.step1"> <small><label for="" class="label label-success">Completed</label></small></span></h5>
    <p>Irrespective of what your background, you have to prepare a one page resume. It can be with the following detatils,
    </p>

    <ul>
      <li>Just listundergraduate GPA and list some of your projects done in Bachelors. </li>

      <li>If you have worked, list it under work experience. Try to highlight your student involvement. </li>
      <li>Most of the jobs on campus focus on good customer skills. Focus your resume on highlighting your customer experience. One good way is, You can say, I was part of an Organization as vice president or treasurer. </li>
      <li>
         If you have any awards or accomplishments like Top in class, college, highlight them. Scholarships, etc. Also, if you have done anything in society like red cross or blood donation, focus on them.
      </li>
    </ul>
    <br>
    <p>
    Overall, the goal should be to highlight your people skills. If you do not have any now, try to get involved in community  now so that you can put in resume when you come up here. You may not need a resume in some situations like if you get by reference. But, it is good to have one. </p>

    <strong class="text-muted">Resouces</strong>
    <ul>
      <li><a href="http://www.luc.edu/media/lucedu/career/pdfs/resume_FWS_or_PTjob.pdf">http://www.luc.edu/media/lucedu/career/pdfs/resume_FWS_or_PTjob.pdf</a></li>
      <li><a href="http://jobsearch.about.com/od/part-time-resume/">http://jobsearch.about.com/od/part-time-resume/</a></li>
      <li><a href="http://www.careerride.com/part-time-jobs-resume.aspx">http://www.careerride.com/part-time-jobs-resume.aspx</a></li>
      <li><a href="http://www.thebigchoice.com/Part_Time/Advice/Writing_A_CV.html">http://www.thebigchoice.com/Part_Time/Advice/Writing_A_CV.html</a></li>
      <li><a href="http://redbus2us.com/how-to-prepare-resume-for-on-campus-job-search-in-us-sample-on-campus-resume-for-download/">http://redbus2us.com/how-to-prepare-resume-for-on-campus-job-search-in-us-sample-on-campus-resume-for-download/</a></li>
    </ul>

    <br>

    <p class="alert alert-info">
    The easiest way to get an On campus job is to ask your seniors. Most of the jobs are given or passed on by this way. There is lot of internal politics involved here. If you think, there is too much politics, do not waste your time trying to kiss someone’s
    </p>
  </li>
  <li ng-class='{completed: status.step2}'>
    <h5 class="step-title" ng-click="toggleCompleted('step2')" > Find the job postings <span class="pull-right" ng-if="status.step2"> <small><label for="" class="label label-success">Completed</label></small></span></h5>
    <p>
    One of the regular ways is to go to Career center on campus and look for the on campus postings. There will be a careers website and they will be posted there too depending on the school. Guess what? Everyone knows this and there is high competition.
    </p>
    <p>
      A very creative way to get on campus job is, join a bunch of student organizations and network with people. Ask them where they work on campus and get networked. It is quick and effective. You will have to be committed to student orgs. Do not join to get job. Join to get to know people and be involved. Job will follow you based on your work.
    </p>
    <p>
      Another proven way is to sign up for any volunteering opportunity in Student life office or any office that is in Student Union.  If you volunteer, you get to know the bosses of the offices. You can ask them if there are any openings. They see you volunteering and guess what, you get a job next day. Some good places are International Student office where we volunteer a lot.
    </p>
    <br>
    <ul>
<li>Library
<ul>
  <li>Circulation Dept</li>
  <li>Inter library loan dept</li>
  <li>Archives Dept</li>
  <li>Sorting and Shelving</li>
  <li>Computer Labs</li>
</ul>
  </li>
<li>Computer Labs ( IT/lab technician jobs )</li>
<li>University Computing department  ( More IT jobs)</li>
<li>Student Life Office</li>
<li>Student Leadership office.</li>
<li>Dean of Students office.</li>
<li>Student Government Office</li>
<li>Cafeteria</li>
<li>University Stadiums :Basketball, Football, etc</li>
<li> University Fitness Center or Gym</li>
<li> University Information Center</li>
<li> International Students office</li>
<li> Financial Aid office</li>
<li> Writing Center</li>
<li> First year or Mentoring center for Students</li>
<li> Career Services</li>
<li> Counseling Services</li>
<li> Cashier’s office</li>
<li> Adult Education center.</li>
<li> Student Activities office.</li>
<li> University Recreation Center.</li>
<li> University Coffee shops</li>
<li> Student Union.</li>
<li> Parking services</li>
<li> Visitor information center.</li>
<li> University Book Store</li>
<li> Athletics and Intra murals office</li>
</ul>

  </li>
  <li ng-click="toggleCompleted('step4')" ng-class='{completed: status.step4}'>
    <h5 class="step-title"> Prepare cover letters <span class="pull-right" ng-if="status.step4"> <small><label for="" class="label label-success">Completed</label></small></span></h5>
    <p>
    Once you find the jobs posting you are intereseted in you have to create a coverletter for the the postions. A cover letter is generelly a single page document saying your background and why you are interested in that job.
    </p>
    <strong class="text-muted">Resouces</strong>
    <ul>
      <li><a href="http://www.towson.edu/careercenter/medialibrary/documents/sample_cover_letter_oncampus_job.pdf">http://www.towson.edu/careercenter/medialibrary/documents/sample_cover_letter_oncampus_job.pdf</a></li>
      <li><a href="http://jobsearch.about.com/od/coverlettersamples/a/coverlettsample.htm">http://jobsearch.about.com/od/coverlettersamples/a/coverlettsample.htm</a></li>
      <li><a href="http://jobsearch.about.com/od/coverletters/a/aa030401a.htm">http://jobsearch.about.com/od/coverletters/a/aa030401a.htm</a></li>
    </ul>
  </li>
  <li ng-class='{completed: status.step5}'>
    <h5 class="step-title" ng-click="toggleCompleted('step5')"> Know more about the place your are going to work <span class="pull-right" ng-if="status.step5"> <small><label for="" class="label label-success">Completed</label></small></span></h5>
    <p>
    Its recommended that you have to know more about the place and the interview before you are going to an interview.
    </p>
  </li>
  <li ng-class='{completed: status.step6}'>
    <h5 class="step-title" ng-click="toggleCompleted('step6')"> Prepare for interview <span class="pull-right" ng-if="status.step6"> <small><label for="" class="label label-success">Completed</label></small></span></h5>
    <p>
    If you are selected for the intervew you will be notified via email. Once you get the confirmation email and the scheduled time, start preparing for the interview.
    </p>
    <strong class="text-muted">Resources</strong>
    <ul><li><a href="http://jobsearch.about.com/od/parttimeqa/a/parttimequest.htm">http://jobsearch.about.com/od/parttimeqa/a/parttimequest.htm</a></li></ul>
  </li>
  <li ng-class='{completed: status.step7}'>
    <h5 class="step-title" ng-click="toggleCompleted('step7')"> On the day of the interview<span class="pull-right" ng-if="status.step7"> <small><label for="" class="label label-success">Completed</label></small></span></h5>
    <p>
First impressions really do count. If you get an interview you can assume that your potential employers already like what they have seen. The interview is an opportunity for you to build on that impression to secure the job.
</p>
<p>
Good preparation is the key to staying in control. Plan your route, allowing extra time for any unexpected delays, and get everything you need to take with you ready the night before. Remember to speak clearly, smile and remember that your interviewers are just normal people, and they may be nervous too!
    </p>
    <div class="alert alert-info">
  <strong>Tips</strong>
<ul>
           <li>Map and directions of how to get to the interview</li>
           <li>The interview invitation letter, a copy of your Curriculum Vitae (CV), cover letter and your application form (if you sent one)</li>
           <li>Contact details of your references</li>
           <li>List of questions to ask about the job or company</li>
           <li>Pen and paper to make notes and show you are prepared</li>
           <li>Cash change if you need to get a taxi at the last minute or some other unforeseen expenditure</li>
           </ul>
    </div>
  </li>
</ul>
