body {
  padding-top: 70px;
}

.container-fluid {
  max-width: 1200px;
}

.page {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.53);
  min-height: 500px;
  padding-left: 50px;
  background: #fff;
}

.task-sub-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  color: #888;
}

.sidbar-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  color: #888;
}

.task-sub-sub-title {
  font-weight: bold;
  font-size: 18px;
  color: #444;
}

.sidebar {
  min-height: 700px;
  background: #fafafa;
  margin-top: 1px;
  border-left: solid 1px #ddd;
}

.task-steps {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.searchAnimate.ng-enter,
.searchAnimate.ng-leave
{
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.searchAnimate.ng-enter.searchAnimate.ng-enter-active,
.searchAnimate.ng-leave {
    opacity: 1;
}

.searchAnimate.ng-leave.searchAnimate.ng-leave-active,
.searchAnimate.ng-enter {
    opacity: 0;
}
