<ul class="task-steps">
  <li class="completed">
    <h5 class="step-title"> Choose a bank  <span class="pull-right"> <small><label for="" class="label label-success">Completed</label></small></span></h5>
    <p>Ask your school’s international student office or check their <a href="https://uw.edu" target="_blank"> website</a> to find out if your school has a relationship with a specific bank to which they refer their international students. If a bank is used to working with international students, the process of opening a bank account will run much more smoothly for you. You might also try to find a bank with a branch close to your campus.</p>
    <strong class="text-muted">Recommendations</strong>
    <div class="row">
      <div class="reco">
        <div class="col-lg-4"><div class="reco-box">US Bank <span>In relationship with your school.</span></div></div>
        <div class="col-lg-4"><div class="reco-box">Bank of America <span>Near by your current locaiton.</span></div></div>
        <div class="col-lg-4"><div class="reco-box">Wells Fargo <span>Near by your college.</span></div></div>
        <div class="col-lg-2"></div>
      </div>
    </div>
    <p>
    You will want to compare services and costs of several different banks before choosing one at which to open a bank account. Find out whether the bank offers interest on checking accounts, what the interest rate is for savings accounts, and whether the account offers overdraft protection. You will also want to find out how long it will take to “clear” a check, meaning how long from the time you deposit a check in your account until you are allowed to withdraw the funds. Generally, wired funds are available immediately, but the hold on checks (local, out of state, and foreign) varies by state and by bank, and can be several days to a week or even longer.</p>
  </li>
  <li>
    <h5 class="step-title"> Prepare your documentation </h5>
    <ul>
      <li>Your full name, home address, home telephone number, your campus telephone number, and your college address. (Letterhead showing the local address – i.e. utility bills, apartment contract…)</li>
      <li>Unexpired passport</li>
      <li>I-94 card</li>
      <li>I-20, DS-2019 or I-797 approval notice</li>
      <li>Any secondary form of identification<em>&nbsp;(Acceptable ID includes, your passport, your Student ID card, birth certificate (international/english version), State’s driver’s license, or a letter from International Students and Scholars)</em></li>
      <li>Enrollment verification letter from your school</li>
    </ul>
  </li>
  <li>
    <h5 class="step-title"> Find the route to the bank </h5>
    <p>
      <em class="icon icon-location"></em> Current location &rarr; <select name="" id=""><option value="">US Bank, Seattle</option></select> &nbsp;&nbsp;&nbsp; <a class="btn btn-sm btn-info" href="https://www.google.com/maps/dir/47.6568282,-122.3195644/U.S.+Bank,+8th+Avenue+North,+Seattle,+WA/@47.6414085,-122.3526044,14z/data=!3m1!4b1!4m10!4m9!1m1!4e1!1m5!1m1!1s0x5490153ea6aa6b7f:0xcb8f7cf8e388b61b!2m2!1d-122.341379!2d47.628577!3e3" target="_blank">Find route </a>
    </p>
  </li>
  <li>
    <h5 class="step-title"> Reach the bank and open account </h5>
    <p>
      Once you reached the bank stand in the Queue if there is one, and wait for your turn.
    </p>
  </li>

</ul>
